@use "../../../global" as global;

.text-input {
    height: 5rem;
    position: relative;
    .input-group {
        width: 100%;
        height: 4rem;
        margin-top: 1rem;
        input {
            border: 1px solid global.$blk-40;
            border-radius: 4px;
            font-size: 1.5rem;
            line-height: 2rem;
            padding: 22px 1rem 8px;
            z-index: 200;
            &::placeholder {
                opacity: 0;
            }
        }
        label {
            color: global.$blk-60;
            cursor: text;
            font-size: 1.5rem;
            position: absolute;
            top: 2.25rem;
            left: 1rem;
            z-index: 201;
            &.lifted {
                animation: lift 0.1s ease forwards;
            }
            @keyframes lift {
                0% {
                    font-size: (14rem / 16);
                    left: 18px;
                }
                100% {
                    font-size: (14rem / 16);
                    top: 24px;
                    left: 18px;
                }
            }
        }
        .controls {
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 2rem;
            height: 2rem;
            z-index: 202;
        }
    }
    .errors {
        position: absolute;
        top: 0;
        left: 0;
    }
}
