[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
sqlalchemy = "*"
itsdangerous = "*"
python-dotenv = "*"
flask-migrate = "*"
alembic = "*"
flask-cors = "*"
cerberus = "*"
flask-wtf = "*"

[dev-packages]
psycopg2 = "*"
autopep8 = "*"
psycopg2-binary = "==2.8.6"
pytest = "*"
pytest-flask-sqlalchemy = "*"
pycodestyle = "*"
pytest-postgresql = "*"

[requires]
python_version = "3.9"
