[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.5.5"
gunicorn = "==20.0.4"
itsdangerous = "==1.1."
python-dotenv = "==0.15.0"
awscli = "*"
boto3 = "*"
Cerberus = "==1.3.2"
Flask = "==1.1.2"
Flask-Cors = "==3.0.10"
Flask-Login = "==0.5.0"
Flask-Migrate = "==2.7.0"
Flask-SQLAlchemy = "==2.4.4"
Flask-WTF = "==0.14.3"
SQLAlchemy = "==1.3.23"
Werkzeug = "==1.0.1"
click = "==7.1.2"
python-dateutil = "==2.8.1"
python-editor = "==1.0.4"
six = "==1.15.0"
Jinja2 = "==2.11.3"
Mako = "==1.1.4"
MarkupSafe = "==1.1.1"
WTForms = "==2.3.3"

[dev-packages]
autopep8 = "==1.5.5"
psycopg2-binary = "==2.8.6"
psycopg2 = "==2.8.6"
pycodestyle = "==2.6.0"
pytest = "==6.2.2"
pytest-flask-sqlalchemy = "==1.0.2"
pytest-postgresql = "==2.6.1"
atomicwrites = "==1.4.0"
attrs = "==20.3.0"
click = "==7.1.2"
colorama = "==0.4.4"
iniconfig = "==1.1.1"
itsdangerous = "==1.1.0"
mirakuru = "==2.3.0"
pluggy = "==0.13.1"
port-for = "==0.4"
psutil = "==5.8.0"
py = "==1.10.0"
pyparsing = "==2.4.7"
pytest-mock = "==3.5.1"
toml = "==0.10.2"
Flask-SQLAlchemy = "==2.4.4"
Flask = "==1.1.2"
Jinja2 = "==2.11.3"
MarkupSafe = "==1.1.1"
SQLAlchemy = "==1.3.23"
Werkzeug = "==1.0.1"
pytest-dotenv = "*"

[requires]
python_version = "3.9"

[scripts]
test = "pytest --envfile .test.env"
