@use "../../global" as global;

.button {
    a,
    button {
        outline: none;
    }
    a {
        display: block;
        margin: 0;
        padding: 0;
    }
    button {
        border-radius: 4px;
        cursor: pointer;
        font-size: (18rem / 16);
        height: 4rem;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    &.button-fill {
        &.info button {
            background-color: global.$color-info;
            color: white;
            &:focus,
            &:hover {
                background-color: global.$color-info-light;
            }
        }
        &.success button {
            background-color: global.$color-success;
            color: white;
            &:focus,
            &:hover {
                background-color: global.$color-success-light;
            }
        }
        &.gray button {
            background-color: global.$blk-85;
            color: global.$blk-30;
            &:focus,
            &:hover {
                background-color: global.$blk-90;
            }
        }
        button {
            border: none;
            &:disabled {
                cursor: not-allowed;
                background-color: global.$blk-90;
                color: global.$blk-60;
                &:focus,
                &:hover {
                    background-color: global.$blk-90;
                }
            }
        }
    }
    &.button-outline {
        &.info button {
            border-color: global.$color-info;
            color: global.$color-info;
            &:focus,
            &:hover {
                border-color: global.$color-info-light;
                color: global.$color-info-light;
            }
        }
        &.success button {
            border-color: global.$color-success;
            color: global.$color-success;
            &:focus,
            &:hover {
                border-color: global.$color-success-light;
                color: global.$color-success-light;
            }
        }
        &.gray button {
            border-color: global.$blk-20;
            color: global.$blk-20;
            &:focus,
            &:hover {
                border-color: global.$blk-60;
                color: global.$blk-60;
            }
        }
        button {
            background: none;
            border: 1px solid gray;
            &:disabled {
                cursor: not-allowed;
                border-color: global.$blk-90;
                color: global.$blk-60;
            }
        }
    }
    &.button-text {
        &.info button {
            color: global.$color-info;
            &:focus,
            &:hover {
                color: global.$color-info-light;
            }
        }
        &.success button {
            color: global.$color-success;
            &:focus,
            &:hover {
                color: global.$color-success-light;
            }
        }
        &.gray button {
            color: global.$blk-20;
            &:focus,
            &:hover {
                color: global.$blk-60;
            }
        }
        button {
            background: none;
            border: none;
            font-size: 1rem;
            &:disabled {
                cursor: not-allowed;
                color: global.$blk-60;
                &:hover {
                    color: global.$blk-60;
                }
            }
        }
    }
}
