@use "../../constants"as c;

.view.start-view {
    transition: left 0.25s ease-in-out;
    -webkit-transition: left 0.25s ease-in-out;
    z-index: 20;

    &[view-path-match="no-match"] {
        left: -10%;
    }

    &[view-path-match="match"] {
        left: 0;
    }
}
