// ** «««««««««««««««««««««««« Colors »»»»»»»»»»»»»»»»»»»»»»»» **

$interactive-muted: hsl(209, 100%, 49%, 70%);
$interactive: hsla(209, 100%, 49%, 100%);

$blk-5: hsl(0, 0, 5);
$blk-10: hsl(0, 0, 10);
$blk-15: hsl(0, 0, 15);
$blk-20: hsl(0, 0, 20);
$blk-25: hsl(0, 0, 25);
$blk-30: hsl(0, 0, 30);
$blk-35: hsl(0, 0, 35);
$blk-40: hsl(0, 0, 40);
$blk-45: hsl(0, 0, 45);
$blk-50: hsl(0, 0, 50);
$blk-55: hsl(0, 0, 55);
$blk-60: hsl(0, 0, 60);
$blk-65: hsl(0, 0, 65);
$blk-70: hsl(0, 0, 70);
$blk-75: hsl(0, 0, 75);
$blk-80: hsl(0, 0, 80);
$blk-85: hsl(0, 0, 85);
$blk-90: hsl(0, 0, 90);
$blk-95: hsl(0, 0, 95);
