@use "./global" as g;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

// ** «««««««««««««««««««««««« Layout »»»»»»»»»»»»»»»»»»»»»»»» **

body,
#root {
    height: 100vh;
}
.view {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
}
a {
    color: g.$color-interact;
    opacity: 0.8;
    &.active, &:hover {
        opacity: 1;
    }
    &.inactive {
        color: g.$blk-60;
    }
}
button {
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    background-color: g.$color-interact;
    color: white;
    line-height: 1rem;
    padding: 1rem 2rem;
}

// ** «««««««««««««««««««««««« Typography »»»»»»»»»»»»»»»»»»»»»»»» **

* {
    font-family: "Noto Sans", Arial, sans-serif;
}
