@use "./global" as g;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

// ** «««««««««««««««««««««««« Layout »»»»»»»»»»»»»»»»»»»»»»»» **

body,
#root {
    height: 100vh;
}
.view-container {
    background-color: g.$blk-90;
}
.view {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}
.page-grid {
    grid-template-columns: 1rem repeat(24, 1fr) 1rem;
}

// ** «««««««««««««««««««««««« Typography »»»»»»»»»»»»»»»»»»»»»»»» **

* {
    font-family: "Noto Sans", Arial, sans-serif;
}
a {
    color: g.$color-interact;
    opacity: 0.8;
    &.active,
    &:hover {
        opacity: 1;
    }
    &.inactive {
        color: g.$blk-60;
    }
}

// ** «««««««««««««««««««««««« Inputs »»»»»»»»»»»»»»»»»»»»»»»» **

input[type="text"],
input[type="password"] {
    border: 1px solid g.$blk-40;
    color: g.$blk-20;
    border-radius: 0.25rem;
    display: block;
    font-weight: 300;
    font-size: 1rem;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
}
input[type="text"]:focus,
input[type="password"]:focus {
    box-shadow: 0 0 0 4px rgba(0, 169, 255, 0.3);
    border: 1px rgb(0, 169, 255) solid;
    outline: none;
}
button {
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    background-color: g.$color-interact;
    color: white;
    font-size: 1rem;
    line-height: 1rem;
    padding: 1rem 2rem;
}
