@use "../../global" as g;

@media screen and (min-width: g.$screen-size-sm) {
    .unauth-splash {
        .unauth-splash__hook {
            background: linear-gradient(-45deg, #f72585, #3a0ca3, #4cc9f0);
            background-size: 300% 300%;
            border-bottom: 4px solid g.$blk-90;
            animation: gradient 20s ease infinite;
            grid-template: 3.5rem 1fr 6rem / auto;
            align-content: center;
            justify-content: stretch;
            height: 100vh;
            @keyframes gradient {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }
            > div {
                grid-template-rows: repeat(3, auto);
                grid-row: 2 / 3;
                align-content: center;
                justify-self: center;
                color: white;
                min-width: 8rem;
                max-width: g.$screen-size-lg;
                padding: 0 2rem;
                text-align: center;
                * {
                    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
                }
                h1 {
                    font-size: 4rem;
                    font-weight: 200;
                    line-height: 4.5rem;
                    margin-bottom: 2rem;
                }
                p {
                    font-size: (22rem / 16);
                    font-weight: 300;
                    line-height: 2.5rem;
                    margin-bottom: 4rem;
                }
                .link-group {
                    grid-template-columns: 1fr 1fr;
                    align-content: stretch;
                    justify-self: center;
                    background: none;
                    border: 1px solid white;
                    border-radius: 0.5rem;
                    height: 4rem;
                    width: 18rem;
                    a {
                        display: block;
                        color: white;
                        line-height: 3.75rem;
                        text-decoration: none;
                        &.left {
                            border-right: 1px solid white;
                        }
                    }
                }
            }
        }
        .unauth-splash__details {
            grid-template-rows: repeat(3, auto);
            justify-self: center;
            max-width: 56rem;
            padding: 4rem 0;
            height: 100vh;
            .bucket {
                grid-template: auto auto / 1fr;
                align-content: start;
                justify-content: center;
                grid-auto-flow: row;
                object {
                    justify-self: center;
                    display: block;
                    opacity: 0.25;
                    height: 160px;
                    margin-bottom: 1rem;
                    width: 160px;
                }
                p {
                    display: block;
                    font-size: 1.25rem;
                    line-height: 2rem;
                    margin-bottom: 2rem;
                    text-align: center;
                }
            }
        }
        .unauth-splash__cta {
            background-color: g.$pr-1-v-8;
            color: white;
            height: 100vh;
        }
    }
}
@media screen and (min-width: g.$screen-size-lg) {
    .unauth-splash {
        .unauth-splash__hook {
            height: 85vh;
        }
        .unauth-splash__details {
            grid-template: 1fr / repeat(3, auto);
            height: 70vh;
            .bucket {
                grid-template: auto auto / 1fr;
                align-content: center;
                justify-content: center;
            }
        }
    }
}
