@use "../../../constants" as *;

* {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: $TEXT_SIZE_1;
    font-weight: 400;
}

h1 {
    font-size: $HEADING_SIZE_1;
}

h2 {
    font-size: $HEADING_SIZE_2;
}

h3 {
    font-size: $HEADING_SIZE_3;
}
