@use "../../global" as global;

.sign-in-view {
    background-color: global.$blk-98;
    > .center {
        place-self: start stretch;
        place-content: center stretch;
        pointer-events: all;
        min-width: global.$screen-size-mobile-s;
        margin-top: 8rem;
        padding: 1rem;
        h1 {
            color: global.$blk-80;
            font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
            font-size: 2.5rem;
            font-weight: 400;
            margin: 1rem 0;
            text-align: center;
        }
        .button {
            margin-top: 1rem;
        }
    }
    .fetching {
        place-content: center center;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 900;
    }
    .errors-overlay {
        place-content: start center;
        pointer-events: all;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        z-index: 900;
        .center {
            margin-top: 4rem;
            padding: 1rem;
            text-align: center;
            h2 {
                margin: 0 0 3rem;
            }
            .close {
                position: absolute;
                cursor: pointer;
                color: rgba(255, 255, 255, 0.5);
                top: 1rem;
                right: 1rem;
                width: 3rem;
                height: 3rem;
                &:hover {
                    color: white;
                }
            }
            ul li {
                margin: 0 0 1rem;
                .check {
                    color: global.$color-success-light;
                    padding-right: 0.5rem;
                }
            }
        }
    }
    @media screen and (min-width: global.$screen-size-mobile-l) {
        .center {
            place-self: center center;
            margin-top: 0;
            min-width: global.$screen-size-mobile-l;
        }
    }
}
