.sign-up-view {
    .center {
        background: #eee;
        box-sizing: content-box;
        place-self: center center;
        padding: 1rem;
        min-width: 20rem;
        min-height: 20rem;
        max-width: 48rem;
        max-height: 48rem;
    }
}
