$HEADING_SIZE_1: (48rem / 16);
$HEADING_SIZE_2: (32rem / 16);
$HEADING_SIZE_3: (16rem / 16);
$HEADING_SIZE_4: (14rem / 16);
$TEXT_SIZE_1: (16rem / 16);
$TEXT_SIZE_2: (14rem / 16);
$TEXT_SIZE_3: (12rem / 16);
