$COLORS_ERROR: hsl(340, 100%, 45%);
$HEADING_SIZE_1: (48rem / 16);
$HEADING_SIZE_2: (32rem / 16);
$HEADING_SIZE_3: (16rem / 16);
$HEADING_SIZE_4: (14rem / 16);
$MEDIA_WIDTH_MOBILE_S: (320rem / 16);
$MEDIA_WIDTH_MOBILE_M: (375rem / 16);
$MEDIA_WIDTH_MOBILE_L: (425rem / 16);
$MEDIA_WIDTH_TABLET: (768rem / 16);
$MEDIA_WIDTH_LAPTOP: (1440rem / 16);
$MEDIA_WIDTH_4K: (2560rem / 16);
$TEXT_SIZE_1: (16rem / 16);
$TEXT_SIZE_2: (14rem / 16);
$TEXT_SIZE_3: (12rem / 16);
