@use "../../global" as g;

@media screen and (min-width: g.$screen-size-lg) {
    .chat-view {
        .chat__content {
            grid-column: 11 / 27;
            > div {
                grid-template-columns: repeat(15, 1fr) 1rem;
                justify-self: stretch;
                .scroll {
                    grid-column: 1 / 16;
                    padding: 0 0 0 2rem;
                    .compose {
                        grid-template-rows: 1fr 2rem;
                        textarea {
                            margin-right: 0.5rem;
                            grid-column: 11 / 26;
                        }
                        .typing {
                            grid-row: 2 / 3;
                            grid-column: 11 / 26;
                        }
                    }
                }
            }
            .chat__splash-mobile {
                display: none;
            }
            .chat__splash {
                grid-template: auto 16rem auto / auto 24rem auto;
                display: grid;
                > div {
                    align-content: start;
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                    color: g.$blk-70;
                    text-align: center;
                    h1 {
                        font-size: (48rem / 16);
                        font-weight: 300;
                        margin-bottom: 2rem;
                    }
                    p {
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: g.$screen-size-dt) {
    .chat-view {
        .chat__content {
            > div {
                .scroll {
                    grid-column: 1 / 16;
                    .compose {
                        textarea {
                            grid-column: 11 / 26;
                        }
                        .typing { 
                            grid-column: 11 / 26;
                        }
                    }
                }
            }
        }
    }
}
