@use "../../global" as g;

$top_bar_height: 2.5rem;
$compose_height: 16rem;
$menu_item_height: 3rem;
$side_bar_width: 16rem;

@media screen and (min-width: g.$screen-size-sm) {
    .chat-viewport-container {
        position: absolute;
        top: 3.5rem;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 300;
    }
    .view {
        max-width: g.$screen-size-dt;
    }
    .chat-view {
        grid-template: 2.5rem 1rem auto 1rem / 1fr;
        justify-self: center;
    }
    .chat__sidebar {
        display: none;
    }
    .chat__splash-container {
        display: none;
    }
    .chat__mobile-nav {
        background-color: g.$blk-90;
        height: 2.5rem;
    }
    .chat__thread-container {
        grid-template-columns: 1rem auto 1rem;
    }
    .chat-thread {
        grid-column: 2 / 3;
    }
}
@media screen and (min-width: g.$screen-size-lg) {
    .chat-view {
        grid-template: 1rem auto 1rem / 16rem auto;
    }
    .chat__mobile-nav {
        display: none;
    }
    .chat__sidebar {
        grid-row: 2 / 3;
        display: grid;
    }
    .chat__splash-container {
        grid-template: auto 16rem auto / auto 24rem auto;
        grid-row: 2 / 3;
        display: grid;
    }
    .chat__splash {
        align-content: start;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        color: g.$blk-70;
        text-align: center;
    }
    .chat__splash h1 {
        font-size: (48rem / 16);
        font-weight: 300;
        margin-bottom: 2rem;
    }
    .chat__splash p {
        line-height: 1.5rem;
    }
    .chat__threads-available {
        background-color: g.$blk-95;
        border: 1px solid g.$blk-90;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        padding: 1rem 0;
        align-content: start;
        display: grid;
        overflow: hidden;
    }
    .chat__threads-available a {
        display: block;
        height: 3.5rem;
    }
    .chat__threads-available a.active {
        border-right: 4px solid red;
    }
    .chat__threads-available a li {
        display: grid;
        grid-template-columns: 4rem auto;
        margin: 0 1.5rem;
    }
    .chat__threads-available a li img {
        border-radius: .5rem;
        object-fit: cover;
        margin: 0.25rem;
        height: 3rem;
        width: 3rem;
    }
    .chat__threads-available a li p {
        line-height: 3.5rem;
    }
    .chat__thread-container {
        grid-template-columns: 2rem auto 0.5rem;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
}
@media screen and (min-width: g.$screen-size-dt) {
    .chat__threads-available {
        border-radius: 0.5rem;
    }
}
