@use "../../global" as g;

@import "./content-mobile";
@import "./content";
@import "./recent-threads";
@import "./mobile-nav";
@import "./splash-mobile";

@media screen and (min-width: g.$screen-size-sm) {
    .chat-viewport-container {
        position: absolute;
        top: 3.5rem;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 300;
    }
    .chat-view {
        grid-template-rows: 3.5rem 1fr;
        position: relative;
        .chat__splash {
            display: none;
        }
        .search {
            align-content: start;
            background-color: rgba(0, 0, 0, 0.6);
            height: 100%;
            width: 100%;
            z-index: 303;
            > div {
                background-color: white;
                grid-column: 1 / 27;
                input {
                    margin: 0.5rem;
                }
                > div {
                    padding: 0.5rem 0.5rem 1rem;
                    span {
                        color: g.$blk-60;
                    }
                    a {
                        color: g.$blk-20;
                        border-radius: 0.25rem;
                        display: block;
                        opacity: 1;
                        margin-bottom: 0.25rem;
                        padding: 0.25rem;
                        text-decoration: none;
                        &:hover {
                            background-color: g.$blk-90;
                        }
                        .search-result-item {
                            display: grid;
                            grid-template: 3rem auto / 3rem;
                            justify-content: stretch;
                            .img-pre {
                                border-radius: 50%;
                                height: 3rem;
                                width: 3rem;
                            }
                            p {
                                grid-column: 2 / 3;
                                align-self: center;
                                padding-left: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: g.$screen-size-md) {
    .chat-view {
        grid-template-rows: 3.5rem auto;
    }
}
@media screen and (min-width: g.$screen-size-lg) {
    .chat-view {
        grid-template-rows: auto;
        .search {
            > div {
                grid-column: 2 / 11;
                border-radius: 0.25rem;
                margin: 1.5rem 0.5rem 0 -0.5rem;
            }
        }
    }
}
@media screen and (min-width: g.$screen-size-dt) {
}
