@use "../../global" as g;

@import "./content-mobile";
@import "./content";
@import "./recent-threads";
@import "./mobile-nav";
@import "./splash-mobile";

@media screen and (min-width: g.$screen-size-sm) {
    .chat-viewport-container {
        position: absolute;
        top: 3.5rem;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 300;
    }
    .chat-view {
        grid-template-rows: 3.5rem 1fr;
        position: relative;
        .chat__splash {
            display: none;
        }
    }
}
@media screen and (min-width: g.$screen-size-md) {
    .chat-view {
        grid-template-rows: 3.5rem auto;
    }
}
@media screen and (min-width: g.$screen-size-lg) {
    .chat-view {
        grid-template-rows: auto;
    }
}
@media screen and (min-width: g.$screen-size-dt) {
}
