@use "../../global"as global;

.view.sign-in-view {
    place-content: center stretch;

    >.center {
        place-content: center stretch;
        min-width: global.$screen-size-mobile-s;
        margin-top: 8rem;
        padding: 1rem;
        overflow: hidden;
        pointer-events: all;

        >h1 {
            color: global.$blk-80;
            font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
            font-size: 2.5rem;
            font-weight: 400;
            margin: 1rem 0;
            text-align: center;
        }

        >.button {
            margin-top: 1rem;
        }

        >form .button {
            margin-top: 1rem;
        }
    }

    @media screen and (min-width: global.$screen-size-mobile-l) {
        .center {
            place-self: center center;
            margin-top: 0;
            min-width: global.$screen-size-mobile-l;
        }
    }
}
