@use "../global"as global;

.view>.errors {
    place-content: center center;
    position: absolute;
    z-index: 900;
    background-color: rgba(0, 0, 0, 0.7);

    >.center {
        position: relative;
        background-color: global.$blk-98;
        border-radius: 4px;
        padding: 1rem;
        margin: 0 1.5rem;

        >h2 {
            color: global.$blk-50;
            font-size: 1rem;
            line-height: 1.5rem;
            margin: 0.5rem 0 2rem;
            text-align: center;
        }

        >ul {
            >li {
                display: grid;
                grid-template-columns: 2rem auto;
                line-height: 1.25rem;
                margin-bottom: 0.5rem;

                >.check {
                    width: 2rem;
                    height: 1.25rem;
                }
            }
        }

        >.close {
            position: absolute;
            z-index: 901;
            cursor: pointer;
            color: black;
            font-size: 2rem;
            width: 2rem;
            height: 2rem;
            opacity: 0.7;
            top: 1rem;
            right: 1rem;

            &:hover {
                opacity: 1;
            }
        }
    }

    &.show {
        visibility: visible;
        pointer-events: all;
    }

    &.hide {
        visibility: hidden;
        pointer-events: none;
    }

    @media screen and (min-width: global.$screen-size-mobile-l) {
        >.center {
            padding: 2.5rem;
            min-width: global.$screen-size-mobile-m;
            max-width: global.$screen-size-tablet;
        }
    }
}

.view>.fetching {
    z-index: 900;
    place-content: center center;
    background-color: rgba(0, 0, 0, 0.8);

    &.hide {
        visibility: hidden;
        pointer-events: none;
    }

    &.show {
        visibility: visible;
        pointer-events: all;
    }
}
